<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>First</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/First</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>Second</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>Greeting</servlet-name>
		<servlet-class>Greeting</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Greeting</servlet-name>
		<url-pattern>/Greeting</url-pattern>
	</servlet-mapping>



</web-app>
