<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	
	<servlet>
		
		<servlet-name>Insert</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>Search</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Insert</servlet-name>
		<url-pattern>/Insert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
</web-app>
